_site
.sass-cache
.jekyll-metadata
*.DS_Store
Gemfile.lock
.jekyll-cache

# dependencies
node_modules/
.pnpm-debug.log
npm-debug.log

# build output
.astro/
vendor/
.bundle/

# environment files
.env
.env.*.local

# system files

Thumbs.db
